/terraform.tfstate
/.terraform.lock.hcl
/.terrafor.tfstate.backup
D:\myfolder\Azure-terraform-Project\.terraform\providers\registry.terraform.io\hashicorp\azurerm\3.95.0\windows_amd64\terraform-provider-azurerm_v3.95.0_x5.exe